.main_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #F5F5FA;
}

.main_container .title2{
    font-size: 35px;
    font-weight: 700;
    color: #4c4c4c;
    margin-top: 0;
    margin-bottom: 10px;
}

.main_container .title2 span{
    color : #e67e22
}

.main_container .all_words_container{
   height: 70px;
   width: 80%;
   cursor: text;
   overflow: hidden;
   font-size: 26px;
   background: #fff;
   font-family: "Merriweather", serif;
}

.main_container .stats_container{
    display: flex;
    gap: 5px;
    width: 80%;
    margin-bottom: 5px;
}

.main_container .stats_container .single_stat{
    flex-grow: 1;
    padding: 10px;
    background: #fff;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main_container .stats_container .single_stat span{
   color: #ffb034;
}

.all_words_inner_container{
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
}

.typing_container{
   display: flex;
   width: 50%;
   overflow: hidden;
   justify-content: flex-end;
}

.typing_container .typing_word{
   margin-right: 0;
 }

 .typing_container .typing_word.done{
    margin-right: 10px;
    color: #b3afaf;
  }

.display_words_container{
    display: flex;
    width: 50%;
    overflow: hidden;
}

.display_words_container .display_word{
   margin-left: 10px;
}

.current_typing_word{
    color: #ffb034;
    font-weight: 500;
    
}



.current_typing_word:focus{
    outline: none;
    
}


.wrong{
    text-decoration: line-through;
}





.result_container{
    padding: 6% 6% 9px 6%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.result_container span{
    color: #ffb034;
}

.result_login_text{
    font-size: 13px;
    text-align: center;
}

.result_login_text span{
    color: #ffb034;
    cursor: pointer;
    font-weight: 500;
}

.leadboard_btn{
    display: block;
    margin: 10px auto;
    background: #ffb034;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}